* {
  min-height: 0;
  min-width: 0;
  font-family: Lexend, "JetBrainsMono NFP";
  font-size: 16px;
  font-weight: 600;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  /* background-color: #1e1e2e; */
  /* background-color: #181825; */
  background-color: rgba(255, 0, 0, 0);
  /* background-color: rgba(24, 24, 37, 0.6); */
}

#workspaces button {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  /* background-color: #181825; */
  background-color: #1e1e2e;
  color: #cdd6f4;
}

#workspaces button:hover {
  color: #1e1e2e;
  background-color: #cdd6f4;
}

#workspaces button.active {
  background-color: #1e1e2e;
  color: #89b4fa;
}

#workspaces button.urgent {
  background-color: #1e1e2e;
  color: #f38ba8;
}

#clock,
#pulseaudio,
#custom-logo,
#custom-power,
#custom-spotify,
#custom-notification,
#cpu,
#tray,
#battery,
#disk,
#memory,
#window,
#mpd,
#bluetooth {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  /* background-color: #181825; */
  background-color: #1e1e2e;
}

#mpris.playing {
  color: #a6e3a1;
}

#mpris.paused {
  color: #9399b2;
}

#custom-sep {
  padding: 0px;
  color: #585b70;
}

window#waybar.empty #window {
  background-color: transparent;
}

#cpu {
  color: #89b4fa;
}

#memory {
  color: #89b4fa;
}

#clock {
  color: #89b4fa;
}

#bluetooth {
  color: #89b4fa;
  padding: 0 10px;
}

#clock.simpleclock {
  color: #89b4fa;
}

#window {
  color: #cdd6f4;
}

#pulseaudio {
  color: #89b4fa;
}

#pulseaudio.muted {
  color: #89b4fa;
}

#custom-logo {
  color: #89b4fa;
}

#custom-power {
  color: #89b4fa;
}

tooltip {
  background-color: #181825;
  border: 2px solid #89b4fa;
}

#battery.good {
    color: #89b4fa;
}

#battery.warning {
    color: #89b4fa;
}

#battery.critical {
    color: red;
    animation: blink-critical 0.5s infinite alternate;
}

#battery.charging {
    color: cyan;
    text-shadow: 0px 0px 5px cyan;
    animation: glow-charging 1.5s infinite alternate;
}

@keyframes blink-warning {
    0% { color: yellow; }
    100% { color: orange; }
}

@keyframes blink-critical {
    0% { color: red; }
    100% { color: darkred; }
}

@keyframes glow-charging {
    0% { text-shadow: 0px 0px 5px cyan; }
    100% { text-shadow: 0px 0px 15px cyan; }
}

